.recipe {
    margin: 0.33em 0;
    width: 18em;
}

.recipe--single {
    width: 40em;
    margin: 7em auto;
}

.recipe:hover {
    animation: jiggle 0.2s;
    transition: .4s all ease;
    z-index: 11;
    box-shadow: 5px 15px 20px rgba(72, 62, 23, 0.4)
}

.recipe__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}