.recipe--single {
    width: 40em;
    
}

ul, li {
    list-style-type: none;
    margin-left: none;
}
img {
    max-width: 10em;
    height: auto;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
    
  }
  
  /* On mouse-over, add a deeper shadow */
.card :hover {
    animation: jiggle 0.2s;
    transition: .4s all ease;
    z-index: 11;
    box-shadow: 5px 15px 20px rgba(72, 62, 23, 0.4)
  }
