.navbar {
    display: flex;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    background-color: #467AB1;
    padding-right:1em;
    margin-top: 1em;
    width: 100%;
    
}
@media only screen and (max-width: 600px) {
    .navbar {
        flex-wrap: wrap !important;
    }
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar a {
    color: white;
    font-size: 20px;

}
.navbar a:link{
    text-decoration: none;
}
.navbar a:visited{
    text-decoration: none;
}
.navbar a:hover {
    text-decoration: underline;
  }

.navbar a:active {
    text-decoration: underline;
  }

a.navbar__link {
    border-bottom: 1em;
}

.login {
    float: right;
    padding-right: 10px;
    font-size: 1.5em;
    padding-top: 10px;
}




